Checks: 'readability-*,portability-*,performance-*,misc-*,bugprone-*,modernize-*,google-runtime-int,-modernize-deprecated-headers,-clang-analyzer-valist.Uninitialized,-readability-magic-numbers'
HeaderFilterRegex: '^(?!third_party).+'
FormatStyle: file
WarningsAsErrors: '*'
