[submodule "prebuilts"]
	path = prebuilts
	url = sso://hafnium/hafnium/prebuilts
	shallow = true
[submodule "driver/linux"]
	path = driver/linux
	url = sso://hafnium/hafnium/driver/linux
[submodule "project/reference"]
	path = project/reference
	url = sso://hafnium/hafnium/project/reference
	shallow = true
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = sso://hafnium/hafnium/third_party/googletest
	shallow = true
